{% extends 'minimalism/exampleApp/exampleApp.html'%}


{% block headerSection %}
<!-- Main hero unit for a primary marketing message or call to action -->
<h1>This is a example App!!!</h1>
{% endblock headerSection %}

{% block mainSection %}


<h2>This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, This is a example, 
</h2>
{% endblock mainSection %}
