{% extends 'minimalism/base.html'%}

{% block navmenu %}
<li><a href="/">Home</a></li>
<li><a href="/about/chameleon">About chameleon</a></li>
<li><a href="/about/me"  class="current">About me</a></li>
{% endblock navmenu %}

{% block headerSection %}
  <h1>Me!</h1>
  <h2>Personal information</h2>
{% endblock headerSection %}

{% block mainSection %}

<ul>
    <li>Name: Xabier Larrakoetxea</li>
    <li>Nick: slok</li>
    <li>Age: 24</li>
    <li>Country: Basque country</li>
    <li>City: Bilbo</li>
    <li><a href="http://twitter.com/#!/slok69">Twitter</a></li>
    <li><a href="https://github.com/slok/">github</a></li>
    <li><a href="http://xlarrakoetxea.org">Personal site</a></li>
</ul>


{% endblock mainSection%}

